<div *ngIf="bottomBarVisible" class="container">
    <img src="../../assets/Close.svg" alt="Logo" class="close" (click)="closeBottomBar()">
    <div class="text-info">
        <p><span class="bold-text">Black Friday</span></p>
        <p><span class="gold-text">10%OFF</span></p>
        <p>
            <span class="normal-text" style="color: #6C6C70;">Use code</span>
            <span class="normal-text" style="color: #D7A830;"> 10FRIDAY </span>
            <span class="normal-text" style="color: #6C6C70;">at checkout</span>
        </p>
        <button class="shop-now-button">
            <span class="normal-text" style="color: #FFF;">Shop now</span>
            <span class="normal-text" style="color: #FFF;" *ngIf="winWidth>740"> through Monday</span>
        </button>
    </div>
</div>
