
.page-container{
    margin-top: 0;
    display: contents;
}

.bottom-bar{
    position: absolute;
}

@media (min-width: 1600px) {
    .bottom-bar {
        top: 667px;
        left: 1094px;
        width: 600px;
        height: 349px;

    }
}

/* for tablets */
@media (max-width: 1599px) and (min-width: 834px) {
    .bottom-bar {
        top: 667px;
        left: 217px;
        width: 600px;
        height: 349px;
    }
}

/* for phones */
@media (max-width: 833px) {
    .bottom-bar {
        left: 0px;
        top: 505px;
        width: 100%;
        height: 349px;
    }
}