<div class="container">
    <img src="../../assets/prizes.svg" alt="Logo" class="logo-image" loading="lazy">
    <!-- use that mid frame when on desktops -->
    <div class="mid-frame">
        <p><span class="bold-text">Black Friday</span>, <span class="normal-text"> 24-27 Nov</span> </p>
        <img src="../../assets/dot.svg" alt="Logo" class="dot">
        <p><span class="yellow-text">10%OFF</span></p>
        <img src="../../assets/dot.svg" alt="Logo" class="dot">
        <p><span class="normal-text">Use code</span>
            <span class="yellow-text"> 10FRIDAY</span>
            <span class="normal-text"> at checkout</span>
        </p>
    </div>
    <div class="button-container">
        <button class="shop-button">Shop now</button>
        <img src="../../assets/Close.svg" alt="Logo" class="close">
    </div>
</div>
